
#container{
     padding: 1em;
     min-height:100vh;
     margin: auto;
     box-sizing:border-box;
}



ul{
   list-style: none;  
}
.ul.li{
     color: white;
}

/* form{
     display: block;
     margin: 10px;
} */



