<!DOCTYPE html>
<html lang="en">
<head>
     <meta charset="UTF-8">
     <meta http-equiv="X-UA-Compatible" content="IE=edge">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <title>Document</title>
</head>
<body>
     <div class="container-fluid">
          <div class="row align-items-center" >
               <div class="col">
                    <form action="/log_reg" method = POST>
                         {% csrf_token %}
                         First Name:
                         Last Name:
                         Email: 
                         Password:
                         Confirm Password:
                         <input type="submit" value="">
                    </form>
               </div>
               <div class="col">
                    <form action="/login" method="POST">
                         {% csrf_token %}
                         Email:
                         Password:
                         <input type="submit" value="">         
                    </form>
               </div>
          </div>
     </div>
</body>
</html>