<!DOCTYPE html>
<html lang="en">
<head>
     <meta charset="UTF-8">
     <meta http-equiv="X-UA-Compatible" content="IE=edge">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <title>Welcome</title>
     <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
     {% load static %}
     <link rel="stylesheet" href="{% static 'style.css' %}">

</head>
<body>
  <div class="container-fluid bg-dark" id="container">
          <div class="container">
               <div class="row jumbotron jumbotron-fluid bg-success">
                    <div class="col">
                         <h1 class="display-2">Beeper Biper</h1>
                         <div>
                              <form action="wall_feed">
                                   {% csrf_token %}
                                   <button class="btn btn-outline-dark text-right"> F E E D </button>
                              </form> 
                         </div> 
                    </div>
                    <div class="col-5">
                         <h1 class="display-5 text-center">Welcome! {{ user.first_name }}</h1>
                         <div class="text-left">
                              <form action="logout">
                                   {% csrf_token %}
                                   <button class="btn btn-outline-dark text-right"> LOG OUT </button>
                              </form>
                         </div>  
                    </div>
               </div>
          </div>
          
          <div class="container">
               <div class="row">
                    <div class="col">
                         <form action="add-post" method="post">
                              {% csrf_token %}
                              <label for="exampleFormControlTextarea1" class="text-light">Write Post Today! </label>
                              <textarea name="post_text" id="" cols="30" rows="10" class="form-control"></textarea>
                              <hr>
                              <button class="btn btn-outline-success">Post</button>
                         </form>
                    </div>
               </div>
          </div>
  </div>
</body>
</html>

     <!-- <form action="wall_feed">
          {% csrf_token %}
          <button>FEED</button>
     </form>
    {% if messages %} {% for msg in messages %}
    <h3>{{ msg }}</h3>
    {% endfor %} {% endif %}

    <form action="logout">
     {% csrf_token %}
     <button>LOG OUT</button>
    </form> --> 